<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  
  <display-name>PullUp</display-name>
  <welcome-file-list>
    <welcome-file>WelcomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>main.java.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>main.java.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListingServlet</servlet-name>
    <servlet-class>main.java.ListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListingServlet</servlet-name>
    <url-pattern>/ListingServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MySQL pullup Datasource</description>
    <res-ref-name>jdbc/pullup</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
